<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Maintenance</h1>
        <p class="lead text-muted">Enable on/off maintenance status</p>
        <div>
          <%= render 'show', maintenance: @maintenance %>
        </div>
    </div>
  </section>
</main>
